```powershell
# For NPM
npm install --save minio

# From Source
git clone https://github.com/minio/minio-js
cd minio-js
npm install
npm install -g

# For Typescript
npm install --save-dev @types/minio
```